.main {
  position: fixed;
  top: 70px;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.pane {
  float: left;
  height: 100%;
  width: 50%;
}

.pane-header {
  background-color: #f3f3f3;
  color: #333;
  padding: 0 20px;
}

.pane-header-title {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding: 16px 0;
  text-transform: uppercase;
}

.pane-header.dark {
  background-color: #2a3237;
  color: rgba(255,255,255,0.4);
}

.editor, .preview {
  height: calc(100% - 54px);
}

html, body {
  height: 100%;
}

iframe {
  width: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.CodeMirror {
  height: 100%;
}

header.site-header.site-header {
  background-color: #fff;
  padding: 10px 0;
  position: relative;
}

.container {
  max-width: none;
}

li.li-locks {
  line-height: 50px;
}

.lock-select {
  margin-left: 15px;
}
@media screen and (max-width: 990px) {
  header.site-header li.li-locks:last-child {
    border-bottom: 1px solid #f1f1f1;
  }
}
